In [1]:
import search_app as app
app.top_popular_users()

key user_details_narendramodi
Enter number of users: 4
from db
0.600744

,name,screen_name,followers_count,friends_count,num_of_tweets
0,Narendra Modi,narendramodi,55782751,2364,4
1,The New York Times,nytimes,46361159,904,1
2,Amitabh Bachchan,SrBachchan,41596464,1833,1
3,Shah Rukh Khan,iamsrk,40026760,77,2

key user_details_narendramodi
key top_popular_users_4
key user_details_narendramodi
key top_popular_users_4
key user_details_narendramodi
key top_popular_users_4